
<!-- Click to preview Discrete Asset tag starts here -->

<div class="row margin_0px rowBox">
  <div class="col-md-12 padding_0px">
    <div class="padding_Form">
      <div class="formReadMode">
        <div class="form-group-custom1">
          <legend i18n="Page header|Discrete Asset tag Detail@@discreteAssetTagDetail" class="m-b-15">Discrete tag Details</legend>
          <!-- Injecting read view -->
          <app-discrete-tag-read-view (navigateTemplate)="backButton($event)"></app-discrete-tag-read-view>
        </div>
        <div class="path finalLine"></div>
        <div class="row" style="    text-align: right;padding: 23px 0;">
          <div class="col-md-12">
            <button type="button" class="btn btn-default text-center backActionButton" (click)="backButton($event)" i18n="Back button|Back@@back"> Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Click to preview Discrete Asset tag ends here -->