<!-- Click to view starts here -->
  <div class="row margin_0px">
    <div class="col-md-12 padding_0px">
      <div class="padding_Form">
        <div class="formReadMode">
          <div class="form-group-custom1">
            <app-analog-tag-read-view (navigateTemplate)="backButton($event)"></app-analog-tag-read-view>
          </div>
          <div class="path finalLine"></div>
          <div class="row" style="    text-align: right;padding: 23px 0;">
            <div class="col-md-12">
              <button type="button" class="btn btn-default text-center backActionButton" (click)="backButton('analogTemplateTagList')" i18n="@@Back"> Back
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Click to preview Analog Tags ends here -->